.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/
.netrc

Example/HarborExample.xcworkspace
Example/HarborExample.xcodeproj/xcuserdata/
Example/Pods
Example/Podfile.lock
Example/output