.DS_Store
/.build
build/
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/
.netrc
.cursor
.claude

Example/HarborExample.xcworkspace
Example/HarborExample.xcodeproj/xcuserdata/
Example/Pods
Example/Podfile.lock
Example/output

# Harbor Cache files
harbor_cache/

TestResults
TestResults.xcresult